[submodule "tests-fuzz/fuzz_zscanner.in"]
	path = tests-fuzz/fuzz_zscanner.in
	url = https://gitlab.labs.nic.cz/knot/fuzzing/fuzz_zscanner.in.git
[submodule "tests-fuzz/fuzz_packet.in"]
	path = tests-fuzz/fuzz_packet.in
	url = https://gitlab.labs.nic.cz/knot/fuzzing/fuzz_packet.in.git
