/*.tar.gz
/*.tar.bz2
/*.tar.xz
*.swp
*~
*.la
*.o
*.orig
*.lo
.libs/
.deps/
.dirstamp
/Knot.creator.user*
/Makefile
/Makefile.in
/src/Makefile
/src/Makefile.in
/src/tests/Makefile
/src/tests/Makefile.in
/src/zscanner/Makefile
/src/zscanner/Makefile.in
/samples/Makefile
/samples/Makefile.in
/doc/Makefile
/doc/Makefile.in
/man/Makefile
/man/Makefile.in
/aclocal.m4
/ar-lib
/autoscan.log
/config.guess
/config.sub
/config.log
/config.status
/libtool
/ltmain.sh
/configure
/configure.scan
/compile
/depcomp
/install-sh
/missing
/ylwrap
/autom4te.cache/
/src/config.h
/src/config.h.in
/src/stamp-*
/doc/html/
/INSTALL
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/src/knot/conf/libknotd_la-cf-lex.c
/src/knot/conf/libknotd_la-cf-parse.c
/src/knot/conf/libknotd_la-cf-parse.h
/tests/sample_conf.c
/src/zscanner/descriptor.h
/src/zscanner/descriptor.c
/src/zscanner/scanner.c.in
/src/zscanner/tests/tap/libtap.a
/tests/tap/libtap.a
/tests/tmp/
/src/zscanner/tests/tmp/

# Binaries
/src/knotc
/src/knotd
/src/kdig
/src/khost
/src/knsupdate
/src/knsec3hash
/src/zscanner/tests/runtests
/src/zscanner/tests/zscanner-tool
/tests/runtests
/tests/acl
/tests/base32hex
/tests/base64
/tests/conf
/tests/descriptor
/tests/dname
/tests/dnssec_keys
/tests/dnssec_nsec3
/tests/dnssec_sign
/tests/dnssec_zone_nsec
/tests/dthreads
/tests/events
/tests/fdset
/tests/hattrie
/tests/journal
/tests/rrl
/tests/rrset
/tests/server
/tests/slab
/tests/wire
/tests/ztree
