*~
*.la
*.o
*.orig
*.lo
.libs/
.deps/
.dirstamp
/Knot.creator.user*
/Makefile
/Makefile.in
/src/Makefile
/src/Makefile.in
/src/tests/Makefile
/src/tests/Makefile.in
/src/zscanner/Makefile
/src/zscanner/Makefile.in
/samples/Makefile
/samples/Makefile.in
/doc/Makefile
/doc/Makefile.in
/man/Makefile
/man/Makefile.in
/aclocal.m4
/ar-lib
/autoscan.log
/config.guess
/config.sub
/config.log
/config.status
/libtool
/ltmain.sh
/configure
/configure.scan
/compile
/depcomp
/install-sh
/missing
/ylwrap
/autom4te.cache/
/src/config.h
/src/config.h.in
/samples/knot.sample.conf
/src/stamp-*
/doc/html/
/INSTALL
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
# Binaries
/src/tests/unittests
/src/zscanner/zscanner-tool
/src/knotc
/src/knotd
/src/kdig
/src/khost
/src/knsupdate
/src/knsec3hash
/src/knot/conf/libknotd_la-cf-lex.c
/src/knot/conf/libknotd_la-cf-parse.c
/src/knot/conf/libknotd_la-cf-parse.h
/src/tests/libknot/parsed_data.rc
/src/tests/libknot/parsed_data_queries.rc
/src/tests/libknot/raw_data.rc
/src/tests/libknot/raw_data_queries.rc
/src/tests/libknot/realdata/
/src/tests/sample_conf.rc
src/zscanner/descriptor.h
src/zscanner/descriptor.c
src/zscanner/test/cases/06-0_INCLUDE.in
src/zscanner/test/cases/06-3_INCLUDE.in
src/zscanner/test/cases/06-4_INCLUDE.in
src/zscanner/test/run_tests.sh
