[submodule "tests-fuzz/fuzz_packet.in"]
	path = tests-fuzz/packet_libfuzzer.in
	url = https://gitlab.labs.nic.cz/knot/fuzzing/fuzz_packet.in.git
[submodule "tests-fuzz/fuzz_zscanner.in"]
	path = tests-fuzz/zscanner_libfuzzer.in
	url = https://gitlab.labs.nic.cz/knot/fuzzing/fuzz_zscanner.in.git
