/tap/runtests
/runtests.log

/contrib/test_base32hex
/contrib/test_base64
/contrib/test_base64url
/contrib/test_heap
/contrib/test_net
/contrib/test_net_shortwrite
/contrib/test_qp-cow
/contrib/test_qp-trie
/contrib/test_siphash
/contrib/test_sockaddr
/contrib/test_spinlock
/contrib/test_string
/contrib/test_strtonum
/contrib/test_time
/contrib/test_wire_ctx

/knot/test_acl
/knot/test_changeset
/knot/test_conf
/knot/test_conf_tools
/knot/test_confdb
/knot/test_confio
/knot/test_digest
/knot/test_dthreads
/knot/test_fdset
/knot/test_journal
/knot/test_kasp_db
/knot/test_node
/knot/test_process_answer
/knot/test_process_query
/knot/test_query_module
/knot/test_requestor
/knot/test_semantic_check
/knot/test_server
/knot/test_unreachable
/knot/test_worker_pool
/knot/test_worker_queue
/knot/test_zone-tree
/knot/test_zone-update
/knot/test_zone_events
/knot/test_zone_serial
/knot/test_zone_timers
/knot/test_zonedb

/libdnssec/test_binary
/libdnssec/test_crypto
/libdnssec/test_key
/libdnssec/test_key_algorithm
/libdnssec/test_key_ds
/libdnssec/test_keyid
/libdnssec/test_keystore_pkcs11
/libdnssec/test_keystore_pkcs8
/libdnssec/test_keystore_pkcs8_dir
/libdnssec/test_keytag
/libdnssec/test_list
/libdnssec/test_nsec_bitmap
/libdnssec/test_nsec_hash
/libdnssec/test_random
/libdnssec/test_sign
/libdnssec/test_sign_der
/libdnssec/test_shared_bignum
/libdnssec/test_shared_dname
/libdnssec/test_tsig

/libknot/test_control
/libknot/test_cookies
/libknot/test_db
/libknot/test_descriptor
/libknot/test_dname
/libknot/test_dynarray
/libknot/test_edns
/libknot/test_edns_ecs
/libknot/test_endian
/libknot/test_lookup
/libknot/test_pkt
/libknot/test_probe
/libknot/test_rdata
/libknot/test_rdataset
/libknot/test_rrset
/libknot/test_rrset-wire
/libknot/test_tsig
/libknot/test_xdp_tcp
/libknot/test_yparser
/libknot/test_ypschema
/libknot/test_yptrafo
/libknot/test_wire

/libzscanner/tmp
/libzscanner/test_zscanner
/libzscanner/zscanner-tool

/modules/test_onlinesign
/modules/test_rrl

/utils/test_cert
/utils/test_lookup
