Tests: kdig
Restrictions: skippable
{%- if distro.match('debian', 'ubuntu') %}
Depends: iputils-ping, ca-certificates
{%- elif distro.match('almalinux', 'centos', 'fedora', 'opensuse', 'rhel', 'rocky') %}
Depends: iputils
{%- endif %}

Tests: authoritative-server
Depends: findutils

Tests: python-libknot
