/_build
/api
/modules
/modules.rst

# sphinx-build manpages
/man/knot.conf.5
/man/knotc.8
/man/knotd.8
/man/keymgr.8
/man/kdig.1
/man/khost.1
/man/kjournalprint.1
/man/knot1to2.1
/man/knsec3hash.1
/man/knsupdate.1
/man/kzonecheck.1
