# configuration file will follow bird (and juniper) type of configuration file
# i.e. curly brackets will be used;

# what to do with };
# a) ignore ; if it follows }

system {

  identity "I have no mouth and must scream";
  version "Infinitesimal";
  storage "/var/run/cutedns/";
  key hmac-md5 "Wg==";

}

zones {
  example.net {
    file "/var/lib/cutedns/example.net";
  }
}

interfaces {
  # short notation
  # name address@port
  # interface0 10.10.1.1@53;
  # will expand into long notation
  interface0 {
    address 10.10.1.1;
    port 53;
  }

  interface1 {
    address ::0;
    # port 53;
  }
}

log {
  syslog {
    any notice;
    zone all;
  }

  file "/var/log/cutedns/server.err" {
    server error;
  }

  stderr {
    any warning;
  }
}
